[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "anything-config"]
	path = anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "mk-project"]
	path = mk-project
	url = git://github.com/rakete/mk-project.git
[submodule "magit"]
	path = magit
	url = git://github.com/philjackson/magit.git
[submodule "switch-window"]
	path = switch-window
	url = git://github.com/dimitri/switch-window.git
