[submodule "auto-complete"]
	path = auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "anything-config"]
	path = anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "mk-project"]
	path = mk-project
	url = git://github.com/mattkeller/mk-project.git
